
/* @tailwind components; */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --pattern-fg: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 10%, transparent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-roboto: "Roboto", sans-serif;
    --animation-duration: 5s;
    --animate-pulse: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    @keyframes pulse {
      50% {
        opacity: 0.5;
      }
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
    --font-roboto: "Roboto", sans-serif;
    --pattern-fg: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 10%, transparent);
    background-color: var(--color-blue-950);
  }
  body {
    /* background: var(--background); */
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  /* font-family: var(--font-roboto), Arial, Helvetica, sans-serif; */
}
